<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../dist/output.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  </head>
  <body class="bg-tooth container mx-auto mt-10">
    <ul class="flex flex-col space-y-2">
      <li><a href="./home.html" target="_blank">Главная</a></li>
      <li><a href="./login.html" target="_blank">Вход в личный кабинет</a></li>
      <li><a href="./login-sms.html" target="_blank">Вход в личный кабинет (смс)</a></li>
      <li><a href="./card-balance.html" target="_blank">Пополнение баланса</a></li>
      <li><a href="./lk.html" target="_blank">Личный кабинет</a></li>
      <li><a href="./new-card-transfer.html" target="_blank">Перенос баланса на новую карту</a></li>
      <li><a href="./broken-card.html" target="_blank">При неисправности карты</a></li>
      <li><a href="./monthly-ticket.html" target="_blank">Проездные билеты</a></li>
      <li><a href="./social-card.html" target="_blank">Социальная карта</a></li>
      <li><a href="./bank-card.html" target="_blank">Оплата банковской картой</a></li>
      <li><a href="./tariff.html" target="_blank">Тарифы перевозчиков</a></li>
      <li><a href="./points-of-sale.html" target="_blank">Пункты продажи ЕГКС</a></li>
      <li><a href="./404.html" target="_blank">404</a></li>
      <li><a href="./contacts.html" target="_blank">Контакты</a></li>
      <li><a href="./normative-base.html" target="_blank">Нормативная база</a></li>
      <li><a href="./mob-app.html" target="_blank">Мобильное приложение</a></li>
      <li><a href="./loyalty.html" target="_blank">Программа лояльности</a></li>
      <li><a href="./loyalty-show.html" target="_blank">Программа лояльности (Деловые линии)</a></li>
    </ul>
  </body>        
</html>