<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../dist/output.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
  </head>
  <body class="bg-tooth">
    <div class="pt-2 lg:max-w-[1200px] md:container md:mx-auto">
      <header class="mb-11">
        <div class="flex justify-between items-center md:px-0 py-8">
          <a href="#">
            <img class="h-12 w-fit object-contain" src="../assets/pic/new/home/EGKS-logo-header.png" />
          </a>
          <a class="py-3 px-8 bg-black text-white rounded-xl text-lg" href="#">Войти</a>
        </div>
        <navbar>
          <ul class="flex space-x-4 items-center text-black text-xl">
            <li>
              <a href="#">Главная</a>
            </li>
            <li>
              <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.8678 5.67956L15.3225 1.13417C15.1592 0.943509 14.8722 0.921283 14.6816 1.0846C14.4909 1.24788 14.4687 1.53483 14.632 1.72549C14.6472 1.74326 14.6638 1.75986 14.6816 1.77506L18.4497 5.54773H0.454523C0.203512 5.54773 0 5.75124 0 6.00229C0 6.25334 0.203512 6.45681 0.454523 6.45681H18.4497L14.6816 10.2249C14.4909 10.3882 14.4687 10.6751 14.632 10.8658C14.7953 11.0565 15.0822 11.0787 15.2729 10.9154C15.2907 10.9001 15.3073 10.8836 15.3225 10.8658L19.8679 6.32041C20.0441 6.14318 20.0441 5.85686 19.8678 5.67956Z" fill="black"/>
              </svg>
            </li>
            <li class="font-medium text-gulf-water">
              Оплата банковской картой
            </li>
          </ul>
        </navbar>
      </header>
    </div>
    <main>
      <section class="bg-white">
        <div class="flex flex-col py-3 lg:max-w-[1200px] md:container md:mx-auto">
          <div class="flex items-center space-x-10">
            <div>
              <h1 class="mb-6 text-black text-4xl font-bold">Оплата банковской картой</h1>
              <div class="flex flex-col space-y-6 text-2xl text-black">
                <p>Для оплаты проезда подходят бесконтактные карты платежной системы МИР, а также Visa и Mastercard российских банков-эмитентов.</p>
                <p>Поддерживается оплата токенами (телефоны, смарт-часы и т.п.) только платежной системы МИР.</p>
              </div>
            </div>
            <img src="../assets/pic/img_pay.png">
          </div>
        </div>
      </section>
      <section>
        <div class="flex flex-col space-y-6 py-16 px-32 lg:max-w-[1200px] md:container md:mx-auto text-black">
          <h2 class="text-2xl font-semibold">Порядок оплаты и списания средств</h2>
          <div class="flex flex-col space-y-4 text-xl">
            <p>
              Оплата банковскими картами в транспортных средствах отличается от оплаты в торговых точках. Из-за специфики транспорта, приобретение билетов происходит в офлайн режиме, а списание денежных средств по мере выгрузки транзакций с терминалов. По этой причине, например, если поездка была с утра, списание может пройти в течение дня и в редких случаях, даже через несколько суток.
            </p>
            <p>
              Если при попытке списания, на балансе карты было недостаточно средств, карта будет добавлена в стоп-лист.
            </p>
            <p>
              Погасить задолженность и вывести карту из стоп-листа можно в ручном режиме, в личном кабинете пассажира.
            </p>
            <p>
              Стоп-лист на транспортных терминалах обновляется в течение дня.
            </p>
            <p>
              На стационарных терминалах доступна оплата только за одного пассажира. В случае, если есть необходимость оплатить одной картой за нескольких человек, следует обратиться к водителю или кондуктору и получить билеты, которые необходимо сохранять до конца поездки для проведения контроля.
            </p>
          </div>
        </div>
      </section>
      <section class="bg-[#121E3B]">
        <div class="flex px-32 items-center py-16 space-x-10 lg:max-w-[1200px] md:container md:mx-auto">
          <div class="flex flex-col items-center space-y-6">
            <img src="../assets/pic/bank1.png">
            <p class="text-center text-white text-2xl">Приложите банковскую карту к терминалу</p>
          </div>
          <div>
            <svg width="30" height="26" viewBox="0 0 30 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.937593 12.9999C0.934065 13.9859 1.32031 14.9332 2.01218 15.6356C2.70405 16.3381 3.64548 16.7386 4.63134 16.7499H16.4626L14.4563 18.7937C13.7624 19.4987 13.3735 20.4482 13.3735 21.4374C13.3735 22.4267 13.7624 23.3762 14.4563 24.0812C14.7946 24.4307 15.1995 24.7087 15.6472 24.8987C16.0949 25.0888 16.5762 25.187 17.0626 25.1874H17.0813C17.5677 25.187 18.049 25.0888 18.4967 24.8987C18.9444 24.7087 19.3494 24.4307 19.6876 24.0812L27.9751 15.6437C28.6717 14.9401 29.0625 13.99 29.0625 12.9999C29.0625 12.0098 28.6717 11.0598 27.9751 10.3562L19.6876 1.9187C18.9812 1.2516 18.0418 0.887358 17.0703 0.903857C16.0988 0.920357 15.1724 1.31629 14.489 2.00699C13.8057 2.69769 13.4197 3.62834 13.4136 4.59993C13.4075 5.57153 13.7817 6.50696 14.4563 7.20619L16.4626 9.24995H4.63134C3.64548 9.26132 2.70405 9.66184 2.01218 10.3642C1.32031 11.0667 0.934065 12.014 0.937593 12.9999Z" fill="white"/>
            </svg>
          </div>
          <div class="flex flex-col items-center space-y-6">
            <img src="../assets/pic/bank2.png">
            <p class="text-center text-white text-2xl">Удерживайте до появления сигнала</p>
          </div>
          <div>
            <svg width="30" height="26" viewBox="0 0 30 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.937593 12.9999C0.934065 13.9859 1.32031 14.9332 2.01218 15.6356C2.70405 16.3381 3.64548 16.7386 4.63134 16.7499H16.4626L14.4563 18.7937C13.7624 19.4987 13.3735 20.4482 13.3735 21.4374C13.3735 22.4267 13.7624 23.3762 14.4563 24.0812C14.7946 24.4307 15.1995 24.7087 15.6472 24.8987C16.0949 25.0888 16.5762 25.187 17.0626 25.1874H17.0813C17.5677 25.187 18.049 25.0888 18.4967 24.8987C18.9444 24.7087 19.3494 24.4307 19.6876 24.0812L27.9751 15.6437C28.6717 14.9401 29.0625 13.99 29.0625 12.9999C29.0625 12.0098 28.6717 11.0598 27.9751 10.3562L19.6876 1.9187C18.9812 1.2516 18.0418 0.887358 17.0703 0.903857C16.0988 0.920357 15.1724 1.31629 14.489 2.00699C13.8057 2.69769 13.4197 3.62834 13.4136 4.59993C13.4075 5.57153 13.7817 6.50696 14.4563 7.20619L16.4626 9.24995H4.63134C3.64548 9.26132 2.70405 9.66184 2.01218 10.3642C1.32031 11.0667 0.934065 12.014 0.937593 12.9999Z" fill="white"/>
            </svg>
          </div>
          <div class="flex flex-col items-center space-y-6">
            <img src="../assets/pic/bank3.png">
            <p class="text-center text-white text-2xl">Печать билета - проезд разрешен</p>
          </div>
        </div>
      </section>
      <section>
        <div class="flex flex-col space-y-16 py-16 px-32 lg:max-w-[1200px] md:container md:mx-auto text-black">
          <div>
            <h2 class="mb-6 text-2xl font-semibold">Если терминал не реагирует на банковскую карту/смартфон:</h2>
            <ul class="flex flex-col space-y-6 list-disc text-xl pl-6">
              <li>Приложите карту/смартфон максимально близко к экрану терминала</li>
              <li>Убедитесь, что карта/смартфон поддерживает бесконтактные способы оплаты</li>
            </ul>
          </div>
          <div>
            <h2 class="mb-6 text-2xl font-semibold">Просмотр истории оплаты за проезд</h2>
            <p class="text-xl">
              Получить информацию о поездках и списаниях по ним, можно на специализированном интернет-портале <a href="#" class="text-gulf-water underline">bilet.nspk.ru</a>. Для этого необходимо зарегистрироваться и добавить свою банковскую карту в личном кабинете. Там же можно погасить задолженность. Поездки появляются на портале по мере выгрузки транспортных терминалов.
            </p>
          </div>
          <div class="flex items-center justify-between bg-[#DAE2EE] rounded-xl px-20 py-11">
            <img src="../assets/pic/block-card.png" />
            <div class="flex flex-col">
              <h2 class="mb-6 text-2xl font-semibold">Если карта в стоп-листе:</h2>
              <p class="w-[350px] text-xl">
                Вывести карту из стоп-листа можно в личном кабинете пассажира на сайте <a href="#">bilet.nspk.ru</a>
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="bg-black">
      <div class="flex flex-col mx-auto lg:items-center py-8 lg:flex-row lg:justify-between md:py-12 lg:max-w-[1200px] lg:py-16 md:container">
        <div class="flex flex-col space-y-5">
          <div class="flex flex-col space-y-2">
            <a href="#">
              <img class="h-12 w-fit object-contain" src="../assets/pic/new/home/EGKS-logo-footer.png" />
            </a>
            <p class="text-white md:text-lg">Единая городская карта Севастополя</p>
          </div>
          <input
            class="max-w-sm md:max-w-md pt-4 pb-3 pl-7 font-light rounded-2xl bg-black-input text-smoke"
            style="box-shadow: 3px 3px 7px 0px #050714 inset, -3px -3px 7px 0px #2B2D3A inset;"
            placeholder="Поиск по сайту"
          />
          <div class="flex flex-col text-white">
            <p class="md:text-xl">Служба поддержки пользователей ЕГКС:</p>
            <p class="font-bold text-4xl">+ 7 978 73–00–800</p>
            <p class="font-light">Ежедневно с 9:00 до 18:00. Перерыв с 13:00 до 14:00</p>
          </div>
        </div>
        <div class="flex space-x-4 mt-8 lg:mt-0 md:space-x-20">
          <ul class="flex flex-col space-y-3 text-white underline cursor-pointer">
            <li>Частые вопросы</li>
            <li>Пополнить карту</li>
            <li>Перенос баланса карты</li>
            <li>Фискальный чек</li>
            <li>Личный кабинет</li>
            <li>Пункты продаж</li>
            <li>Новости</li>
          </ul>
          <ul class="flex flex-col space-y-3 text-white underline	cursor-pointer">
            <li>Тарифы перевозчиков</li>
            <li>Тарифы перевозчиков</li>
            <li>Проездной билет</li>
            <li>Программа лояльности</li>
            <li>Нормативная база</li>
            <li>Контакты</li>
            <li>Мобильное приложение</li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
