<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../dist/output.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  </head>
  <body class="bg-tooth">
    <div class="pt-2 lg:max-w-[1200px] md:container md:mx-auto">
      <header class="mb-11">
        <div class="flex justify-between items-center md:px-0 py-8">
          <a href="#">
            <img class="h-12 w-fit object-contain" src="../assets/pic/new/home/EGKS-logo-header.png" />
          </a>
          <a class="py-3 px-8 bg-black text-white rounded-xl text-lg" href="#">Войти</a>
        </div>
        <navbar>
          <ul class="flex space-x-4 items-center text-black text-xl">
            <li>
              <a href="#">Главная</a>
            </li>
            <li>
              <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.8678 5.67956L15.3225 1.13417C15.1592 0.943509 14.8722 0.921283 14.6816 1.0846C14.4909 1.24788 14.4687 1.53483 14.632 1.72549C14.6472 1.74326 14.6638 1.75986 14.6816 1.77506L18.4497 5.54773H0.454523C0.203512 5.54773 0 5.75124 0 6.00229C0 6.25334 0.203512 6.45681 0.454523 6.45681H18.4497L14.6816 10.2249C14.4909 10.3882 14.4687 10.6751 14.632 10.8658C14.7953 11.0565 15.0822 11.0787 15.2729 10.9154C15.2907 10.9001 15.3073 10.8836 15.3225 10.8658L19.8679 6.32041C20.0441 6.14318 20.0441 5.85686 19.8678 5.67956Z" fill="black"/>
              </svg>
            </li>
            <li class="font-medium text-gulf-water">
              При неисправности карты
            </li>
          </ul>
        </navbar>
      </header>
      <main>
        <div class="mt-8 mb-32">
          <h2 class="mb-10 text-4xl font-bold">При неисправности карты</h2>
          <section>
            <div class="flex space-x-[78px] py-16">
              <img src="../assets/pic/broken-card.png" />
              <div class="flex flex-col justify-center space-y-4 text-xl text-black">
                <p>В случае неисправности карты необходимо заполнить <a href="#" class="text-gulf-water underline">заявление</a> для перевода денежных средств на новую карты.</p>
                <p>Далее необходимо предоставить заявление в один из магазинов сотовой связи Волна и WinMobile или в офис ИТ-Крым.</p>
                <p>В заявлении необходимо заполнить графы: ФИО, номер телефона, номер неисправной карт и новой. К заявлению необходимо приложить неисправную карту</p>
                <p>Зачисление производится в течение 15 дней после предоставления заявления.</p>
              </div>
            </div>
          </section>
          <section>
            <div class="relative flex flex-col py-11">
              <h2 class="mb-6 text-2xl font-medium text-black">Адреса приема заявлений:</h2>
              <ul class="flex flex-col space-y-3">
                <li class="flex flex-col">
                  <p class="text-xl text-black">ИТ-Крым, ул. Руднева 41 (BigBar) - прием срочных заявлений</p>
                  <p class="text-xl font-light text-gray">Пн-пт с  11:00 до 17:00, сб-вс с 12:00 до 17:00.</p>
                </li>
                <li class="flex flex-col">
                  <p class="text-xl text-black">ул. Большая Морская 15</p>
                  <p class="text-xl font-light text-gray">Без выходных с 9:00 до 19:00, перерыв с 13:00 до 13:30.</p>
                </li>
                <li class="flex flex-col">
                  <p class="text-xl text-black">ТЦ «Адрия» (ост. Юмашева). </p>
                  <p class="text-xl font-light text-gray">Без выходных с 9:00 до 19:00, перерыв с 13:00 до 13:30.</p>
                </li>
                <li class="flex flex-col">
                  <p class="text-xl text-black">ТЦ «SeaMall» (напротив касс 7М БЕЗЦЕН). </p>
                  <p class="text-xl font-light text-gray">Без выходных с 9:00 до 19:00, перерыв с 13:00 до 13:30.</p>
                </li>
                <li class="flex flex-col">
                  <p class="text-xl text-black">Площадь Захарова д.3 </p>
                  <p class="text-xl font-light text-gray">С 9:00 до 19:00, перерыв с 13:00 до 13:30, сб - вс выходной.</p>
                </li>
              </ul>
              <img class="absolute top-14 right-32" src="../assets/pic/stars.png" />
            </div>
            <img src="../assets/pic/map.png" />
          </section>
        </div>
      </main>
    </div>
    <footer class="bg-black">
      <div class="flex flex-col mx-auto lg:items-center py-8 lg:flex-row lg:justify-between md:py-12 lg:py-16 md:container">
        <div class="flex flex-col space-y-5">
          <div class="flex flex-col space-y-2">
            <a href="#">
              <img class="h-12 w-fit object-contain" src="../assets/pic/new/home/EGKS-logo-footer.png" />
            </a>
            <p class="text-white md:text-lg">Единая городская карта Севастополя</p>
          </div>
          <input
            class="max-w-sm md:max-w-md pt-4 pb-3 pl-7 font-light rounded-2xl bg-black-input text-smoke"
            style="box-shadow: 3px 3px 7px 0px #050714 inset, -3px -3px 7px 0px #2B2D3A inset;"
            placeholder="Поиск по сайту"
          />
          <div class="flex flex-col text-white">
            <p class="md:text-xl">Служба поддержки пользователей ЕГКС:</p>
            <p class="font-bold text-4xl">+ 7 978 73–00–800</p>
            <p class="font-light">Ежедневно с 9:00 до 18:00. Перерыв с 13:00 до 14:00</p>
          </div>
        </div>
        <div class="flex space-x-4 mt-8 lg:mt-0 md:space-x-20">
          <ul class="flex flex-col space-y-3 text-white underline cursor-pointer">
            <li>Частые вопросы</li>
            <li>Пополнить карту</li>
            <li>Перенос баланса карты</li>
            <li>Фискальный чек</li>
            <li>Личный кабинет</li>
            <li>Пункты продаж</li>
            <li>Новости</li>
          </ul>
          <ul class="flex flex-col space-y-3 text-white underline	cursor-pointer">
            <li>Тарифы перевозчиков</li>
            <li>Тарифы перевозчиков</li>
            <li>Проездной билет</li>
            <li>Программа лояльности</li>
            <li>Нормативная база</li>
            <li>Контакты</li>
            <li>Мобильное приложение</li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
