<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../dist/output.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
  </head>
  <body class="bg-tooth">
    <div class="pt-2 lg:max-w-[1200px] md:container md:mx-auto">
      <header class="mb-11">
        <div class="flex justify-between items-center md:px-0 py-8">
          <a href="#">
            <img class="h-12 w-fit object-contain" src="../assets/pic/new/home/EGKS-logo-header.png" />
          </a>
          <a class="py-3 px-8 bg-black text-white rounded-xl text-lg" href="#">Войти</a>
        </div>
        <navbar>
          <ul class="flex space-x-4 items-center text-black text-xl">
            <li>
              <a href="#">Главная</a>
            </li>
            <li>
              <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.8678 5.67956L15.3225 1.13417C15.1592 0.943509 14.8722 0.921283 14.6816 1.0846C14.4909 1.24788 14.4687 1.53483 14.632 1.72549C14.6472 1.74326 14.6638 1.75986 14.6816 1.77506L18.4497 5.54773H0.454523C0.203512 5.54773 0 5.75124 0 6.00229C0 6.25334 0.203512 6.45681 0.454523 6.45681H18.4497L14.6816 10.2249C14.4909 10.3882 14.4687 10.6751 14.632 10.8658C14.7953 11.0565 15.0822 11.0787 15.2729 10.9154C15.2907 10.9001 15.3073 10.8836 15.3225 10.8658L19.8679 6.32041C20.0441 6.14318 20.0441 5.85686 19.8678 5.67956Z" fill="black"/>
              </svg>
            </li>
            <li class="font-medium text-gulf-water">
              Пункты продажи ЕГКС
            </li>
          </ul>
        </navbar>
      </header>
      <main>
        <section>
          <div class="mt-8 mb-10">
            <h2 class="mb-10 text-4xl font-bold">Пункты продажи ЕГКС</h2>
            <ol class="flex flex-col space-y-6 mb-6 text-xl text-black">
              <li>
                <h3 class="font-semibold">1. Диспетчерская ГУП «Севэлектроавтотранс им. А.С. Круподерова» на ост. 5-км</h2>
              </li>
              <li>
                <h3 class="font-semibold">2. В кассах RUКАССА (продажа и пополнение)</h2>
                <ul class="pl-6">
                  <li>розничный рынок «Кольцо»</li>
                  <li>пр-т Победы, 38-В</li>
                  <li>пр-т Октябрьской революции, 56</li>
                  <li>ул. Борисова, 9</li>
                  <li>ул. Вакуленчука, 2</li>
                  <li>пр-т Генерала Острякова, 192</li>
                  <li>пр-т Героев Сталинграда, 27 (ТЦ «Апельсин»)</li>
                  <li>пр-т Генерала Острякова, 133</li>
                  <li>ул. Вакуленчука, 20</li>
                </ul>
              </li>
              <li>
                <h3 class="font-semibold">3. Книжные магазины «Гала»</h3>
                <ul class="pl-6">
                  <li>ТЦ «Солнечный», Просп. Ген. Острякова, 80</li>
                  <li>пр-т Октябрьской Революции, 42Б к. 1</li>
                  <li>пр-т Октябрьской Революции, 43</li>
                  <li>ул. Большая Морская, 2</li>
                  <li>ул. Маяковского, 6</li>
                  <li>пр-т Героев Сталинграда, 35</li>
                  <li>ТЦ «Апельсин», просп. Героев Сталинграда, 27</li>
                </ul>
              </li>
              <li>
                <h3 class="font-semibold">4. Магазины сотовой связи Волна и WinMobile</h3>
                <ul class="pl-6">
                  <li>ул. Большая морская, 15 (магазин Волна и WinMobile)</li>
                  <li>ул. Большая Морская, 10 (магазин Волна и WinMobile)</li>
                  <li>ул. Очаковцев, 31 (магазин Волна и WinMobile)</li>
                  <li>Пр-т Октябрьской Революции, 61 (ТЦ Адриа - магазин Волна)</li>
                </ul>
              </li>
              <li>
                <h3 class="font-semibold">5. Книжный магазин «Альбатрос»</h3>
                <ul class="pl-6">
                  <li>ул. Ленина, 74</li>
                </ul>
              </li>
              <li>
                <h3 class="font-semibold">6. Магазины «Книжная палата. Учебная книга»</h3>
                <ul class="pl-6">
                  <li>ул. Ленина, 10</li>
                  <li>пр-кт Октябрьской Революции, 61 ТЦ «Адрия» со стороны Юмашевского рынка</li>
                  <li>ул. Б. Морская, 1 (пл.Лазарева)</li>
                  <li>ул. Острякова, 121А</li>
                </ul>
              </li>
              <li>
                <h3 class="font-semibold">7. В киосках «Союзпечать»</h3>
                <ul class="flex flex-col space-y-6 pl-6">
                  <li>
                    <p class="font-medium">Ленинский район</p>
                    <ul>
                      <li>ул. Ленина, 13/1 (у музея КЧФ)</li>
                      <li>ул. Ленина, 50 (пл. Суворова)</li>
                      <li>ул. Адм. Октябрьского, 6 (ост. Водоканал)</li>
                      <li>пл. Восставших (у здания 1-й Горбольницы)</li>
                    </ul>
                  </li>
                  <li >
                    <p class="font-medium">Балаклавский район</p>
                    <ul>
                      <li>г. Балаклава, ул. 40 лет Октября (ост. «Кадыковка»)</li>
                      <li>г. Инкерман, ул. Меньжинского, 1А (Рынок)</li>
                    </ul>
                  </li>
                  <li>
                    <p class="font-medium">Гагаринский район</p>
                    <ul>
                      <li>пр-т Октябрьской Революции, 43 (ост. ПОР)</li>
                      <li>ул. Вакуленчука, 20 (отд. почты № 53)</li>
                    </ul>
                  </li>
                  <li>
                    <p class="font-medium">Нахимовский район</p>
                    <ul>
                      <li>Северная сторона, ул. Богданова (возле дома № 25)</li>
                      <li>Северная сторона, пл. Захарова (Сквер)</li>
                      <li>ул. Героев Севастополя, 66 (ост. «Малахов Курган»)</li>
                      <li>ул. Горпищенко, 63 (район кинотеатра «Спутник»)</li>
                      <li>ул. Вокзальная, 11 (Автовокзал)</li>
                      <li>ул. Челюскинцев, 32 (Северная сторона, р-н кинотеатра Моряк)</li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <h3 class="font-semibold">8. В отделениях ФГУП «Почта Крыма»</h3>
                <ul class="flex flex-col space-y-6 pl-6">
                  <li>
                    <p class="font-medium">в г. Севастополе по адресам:</p>
                    <ul>
                      <li>ул. Героев Севастополя, 27</li>
                      <li>площадь Захарова, 4</li>
                      <li>ул. Ивана Голубца, 45</li>
                      <li>ул. 1-а Бастионная, 4А</li>
                      <li>ул. Ленина, 24</li>
                      <li>ул. Косарева, 2</li>
                      <li>ул. Мечникова, 5</li>
                      <li>ул. Героев Севастополя, 10</li>
                      <li>ул. Большая Морская, 21</li>
                      <li>ул. Истомина, 14А</li>
                      <li>пр-т Героев Сталинграда, 28</li>
                      <li>ул. Курчатова, 20</li>
                      <li>ул. Серафимовича, 28</li>
                      <li>ул. Крестовского, 47</li>
                      <li>ул. Передовая, 16</li>
                      <li>пр-т генерала Острякова, 244/7</li>
                      <li>ул. Тараса Шевченко, 47</li>
                      <li>ул. Горпищенко, 70</li>
                      <li>ул. Коли Пищенко, 24</li>
                      <li>бух. Казачья, 14</li>
                      <li>ул. Софьи Перовской, 61</li>
                      <li>пр-т Гагарина, 22</li>
                      <li>пр-т Генерала Острякова, 74А</li>
                      <li>ул. Вокзальная, 3А</li>
                      <li>пр-т Октябрьской Революции, 89</li>
                      <li>пр-т Генерала Острякова, 119</li>
                      <li>ул. Генерала Жидилова, 10</li>
                      <li>ул. Калича, 15</li>
                      <li>ул. Невская,5</li>
                      <li>ул. Надежды Островской, 7</li>
                      <li>пр-т Победы, 49А</li>
                      <li>ул. Дальняя, 3</li>
                      <li>ул. Меньшикова, 84А</li>
                      <li>пр-т Генерала Острякова, 174/176</li>
                      <li>ул. Адмирала Фадеева, 1</li>
                      <li>ул. Героев Бреста, 1Б</li>
                    </ul>
                  </li>
                  <li>
                    <p class="font-medium">В пригороде по адресам:</p>
                    <ul>
                      <li>пос. Любимовка, ул. Федоровская, 41</li>
                      <li>с. Андреевка, ул. Центральная, 22с</li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <h3 class="font-semibold">9. На автозаправочных комплексах ТЭС (ООО «Торговый дом Крым-Ойл»)</h3>
                <ul class="pl-6">
                  <li>ул. Колобова, 2</li>
                  <li>ул. Балаклавское шоссе, д. 5</li>
                  <li>ул. Лабораторное шоссе, 111</li>
                  <li>ул. Пожарова, 11</li>
                  <li>ул. Музыки, 1А</li>
                  <li>ул. Хрусталева, 78а</li>
                  <li>ул. Семипалатинская, 35</li>
                </ul>
              </li>
            </ol>
            <div class="flex flex-col text-xl text-black">
              <p class="font-medium">Продажа проездных билетов на месяц:</p>
              <ul class="pl-6">
                <li>Диспетчерская ГУП «Севэлектроавтотранс им. А.С. Круподерова» на ост. 5-км</li>
              </ul>
            </div>
          </div>
        </section>
        <section>
          <div class="flex flex-col mb-32">
            <h2 class="mb-6 text-4xl font-bold">Пункты продажи ЕГКС</h2>
            <img src="../assets/pic/map2.png" />
          </div>
        </section>
      </main>
    </div>
    <footer class="bg-black">
      <div class="flex flex-col mx-auto lg:items-center py-8 lg:flex-row lg:justify-between md:py-12 lg:max-w-[1200px] lg:py-16 md:container">
        <div class="flex flex-col space-y-5">
          <div class="flex flex-col space-y-2">
            <a href="#">
              <img class="h-12 w-fit object-contain" src="../assets/pic/new/home/EGKS-logo-footer.png" />
            </a>
            <p class="text-white md:text-lg">Единая городская карта Севастополя</p>
          </div>
          <input
            class="max-w-sm md:max-w-md pt-4 pb-3 pl-7 font-light rounded-2xl bg-black-input text-smoke"
            style="box-shadow: 3px 3px 7px 0px #050714 inset, -3px -3px 7px 0px #2B2D3A inset;"
            placeholder="Поиск по сайту"
          />
          <div class="flex flex-col text-white">
            <p class="md:text-xl">Служба поддержки пользователей ЕГКС:</p>
            <p class="font-bold text-4xl">+ 7 978 73–00–800</p>
            <p class="font-light">Ежедневно с 9:00 до 18:00. Перерыв с 13:00 до 14:00</p>
          </div>
        </div>
        <div class="flex space-x-4 mt-8 lg:mt-0 md:space-x-20">
          <ul class="flex flex-col space-y-3 text-white underline cursor-pointer">
            <li>Частые вопросы</li>
            <li>Пополнить карту</li>
            <li>Перенос баланса карты</li>
            <li>Фискальный чек</li>
            <li>Личный кабинет</li>
            <li>Пункты продаж</li>
            <li>Новости</li>
          </ul>
          <ul class="flex flex-col space-y-3 text-white underline	cursor-pointer">
            <li>Тарифы перевозчиков</li>
            <li>Тарифы перевозчиков</li>
            <li>Проездной билет</li>
            <li>Программа лояльности</li>
            <li>Нормативная база</li>
            <li>Контакты</li>
            <li>Мобильное приложение</li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
